{% extends 'base.html' %}
{% block title %}{{ _('Servicios') }}{% endblock %}

{% block content %}
<section id="servicios" class="services-section">
  <div class="section-content">
    <h2>{{ _('Servicios') }}</h2>
    <ul>
      <li>{{ _('Asesoría de imagen personalizada') }}</li>
      <li>{{ _('Análisis de color') }}</li>
      <li>{{ _('Talleres de estilo y autoestima') }}</li>
    </ul>
       </div>
    </section>

    <div class="hero-buttons">
    <a href="{{ url_for('contact') }}" class="hero-button">{{ _('Agenda tu asesoría') }}</a>
</div>

{% endblock %}

